

html,body {
    background-color: #ffffff;
    margin:0;
    overflow-x: hidden;
    height:100%;
}



h1 {text-align: center;}
h2 {text-align: center;}
.header {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24pt;
    word-spacing: 2pt;
    letter-spacing: 0.5pt;
    line-height: 0.4;
    background-color: #FCDB88;
    padding: 10px;
    padding-bottom: 5px;
    height: 202px;
    width: 100%;
}

.header h2{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20pt;
    line-height: 0%;
}
.site-nav{
    margin-top: 30px;
}

.site-nav ul{
    padding:0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.site-nav a{
    display: block;
    text-decoration: none;
    color:rgb(37, 25, 18);
    padding: 3px 60px;
    padding-top: 40px;
    padding-bottom: 0;
}

.site-nav a:hover {
    font-size: 23pt;
    color: rgb(255, 255, 255);
}

.site-nav li{
    list-style: none;
    font-family: josefin-slab, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20pt;
    float: left;

}


.box-1 {
    font-family: josefin-slab, serif;
    font-weight: 400;
    font-style: normal;
    background-color: #9DB19E;
    width: 30%;
    height: 600px;
    line-height: 2;
    font-size: 18pt;  
    margin: 0px;
    padding: 70px 70px;
    box-sizing: border-box;
    float: left;
}

.box-1 {
    position: relative;
}

.illustration-1{
    position: absolute;
    width:160px;
    height:160px;
    bottom: 60px;
    right: 60px;
}

.box-3 {
    font-family: josefin-slab, serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F4D8CE;
    width: 40%;
    height: 600px;
    line-height: 2;
    font-size: 18pt;  
    margin: 0px;
    padding: 70px 70px;
    box-sizing: border-box;
    float: left;
}

.box-2 {
    font-family: josefin-slab, serif;
    font-weight: 400;
    font-style: normal;
    background-color: #00202C;
    width: 30%;
    height: 600px;
    margin: 0px;
    line-height: 2;
    font-size: 18pt;
    padding: 70px 70px;
    box-sizing: border-box;
    float: left;
}

